<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Статистика топлива</title>
  <link href="../css/transportation.css" rel="stylesheet">
</head>
<body>
<div><a th:href="@{/statistics}" id="main">Назад</a></div>
<div>
  <table id="table-id"  border="1" class="table">
    <caption>Количество купленного топлива</caption>
    <thead>
    <tr>
      <th>название</th>
      <th>объем</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="el : ${statisticFuel}">

      <td th:text="${el.getName}"></td>
      <td th:text="${el.getCount}"></td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>