.aClass{
    color: #000000;
    text-decoration: none;
   }
.liClass{
    margin-top: 10px;
}
body div {
    padding-top: 10px;
}
#main{
   text-decoration: none;
   margin-left: 20px;
   color: black;
}