<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link href="css/cars.css" rel="stylesheet">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->

</head>
<body>
<div><a th:href="@{/main}" id="main">Main page</a></div>

<div id="inDiv">
    <form th:action="@{/cars}" onsubmit="return checkForm(this)" method="post">
        <h3 id="h3Form">Добавление:</h3>
        <div><input type="text"  name="name" placeholder="Введите название"></div>
        <div><input type="text"  name="number" placeholder="Введите номер"></div>
        <div><input type="number"  name="loadCapacity" placeholder="Введите грузоподъемность (кг)"></div>
        <div><input type="number" name="hangarNumber" placeholder="Номер ангара"></div>
        <div>
            <button type="submit" id="add" >Добавить</button>
        </div>

    </form>
</div>
<h3 class="outH3">Список машин:</h3>
<div style="width: 400px;">
    <table id="table-id"  border="1" class="table">
        <caption>Список заказов</caption>
        <thead>
        <tr>
            <th>название</th>
            <th>номер</th>
            <th>грузоподъемность</th>
            <th>номер ангара</th>
            <th>статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${cars}">
            <td th:text="${el.name}"></td>
            <td th:text="${el.number}"></td>
            <td th:text="${el.loadCapacity}+'л'"></td>
            <td th:text="${el.hangar.getNumber}"></td>
            <td class="state" th:text="${el.state}"></td>
            <td><a  class="editA" th:href="@{'/cars/'+${el.id}+'/edit'}">Редактировать</a></td>
            <td>
                    <form th:action="@{'/car/'+${el.id}+'/remove'}" method="post">
                        <button id="deleteButton" type="submit">Удалить</button>
                    </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--<h3 class="outH3">Название, номер, статус, грузоподъемность, номер ангара.</h3>-->
<!--<div th:each="el : ${cars}" class="outDiv">-->
<!--    <div><a class="outEdit" th:text="${el.name}+' ' + ${el.number}"/></div>-->
<!--    <div><a class="outEdit" th:text="${el.loadCapacity}+'л'"/></div>-->
<!--    <div><a class="outEdit" th:text="${el.hangar.getNumber}+' ангар'"/></div>-->
<!--    <div><a class="state"   th:text="${el.state}"/></div>-->
<!--    <div class="edit"><a  class="editA" th:href="@{'/cars/'+${el.id}+'/edit'}">Редактировать</a></div>-->
<!--    <form th:action="@{'/car/'+${el.id}+'/remove'}" method="post">-->
<!--        <button id="deleteButton" type="submit">Удалить</button>-->
<!--    </form>-->
<!--</div>-->
<script  src="js/cars.js"></script>
</body>
</html>