<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta charset="UTF-8"/>
    <link href="css/main.css" rel="stylesheet">
    <!--  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />-->
</head>
<body>
<div>
    <li class="liClass"><a class="aClass" th:href="@{/transportation}">Transportation</a></li>
    <br>
    <li class="liClass"><a class="aClass" th:href="@{/fuel}">Fuel</a></li>
    <br>
    <li class="liClass"><a class="aClass" th:href="@{/cars}">Car</a></li>
    <br>
    <li class="liClass"><a class="aClass" th:href="@{/town}">Town</a></li>
    <br>
    <li class="liClass"><a class="aClass" th:href="@{/hangar}">Hangar</a></li>
    <br>
    <li class="liClass"><a class="aClass" th:href="@{/driver}">Driver</a></li>
    <br>
    <li class="liClass"><a class="aClass" th:href="@{/registration}">Registration driver</a></li>
    <br>
    <li class="liClass"><a class="aClass" th:href="@{/statistics}">Statistics</a></li>
    <br>
    <a class="liClass"><a class="aClass" >Delivery Fuel:</a></a>
    <br>
        <form th:action="@{'/deliveryFuelAllHangar'}" method="post">
            <button id="deleteButton" type="submit">Добавить топлива</button>
        </form>
</div>
<script src="js/main.js"></script>
</body>
</html>