<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transportation</title>
    <link href="css/transportation.css" rel="stylesheet">
</head>
<body>

<div id="inDiv">
    <form th:action="@{/transportation}" method="post">
        <h3 id="h3Form">Добавление:</h3>
        <input type="number" name="numberDriver" placeholder="Введите номер водителя"><br>
        <!--        <input type="text" name="numberCar" placeholder="Введите номер автомобиля"><br>-->
        <input type="text" name="nameFuel" placeholder="Введите название топлива"><br>
        <input type="number" name="volumeFuel" placeholder="Введите объем топлива"><br>
        <div id="dateTransportation"><a id="aDateTransportation">Дата отправки:</a></div>
        <input type="date" name="date"/><br>
        <input type="text" name="address" placeholder="Введите адрес"><br>
        <button type="submit" id="add">Добавить</button>
    </form>
</div>
<h3 class="outH3">Список перевозок:</h3>
<h3 class="outH3">Номер, адрес, номер автомобиля, номер водителя,</h3>
<h3 class="outH3">топливо, объем, дата отправления, статус.</h3>
<div th:each="el : ${transportation}" class="outDiv">
    <div><a class="outEdit" th:text="${el.getTransportation.id}"/></div>
    <div><a class="outEdit" th:text="${el.getTransportation.address}"/></div>
    <div><a class="outEdit" th:text="${el.car.getNumber}"/></div>
    <div><a class="outEdit" th:text="${el.getTransportation.driver.getId}"/></div>
    <div><a class="outEdit" th:text="${el.getTransportation.fuel.getName}"/></div>
    <div><a class="outEdit" th:text="${el.getTransportation.volume}"/></div>
    <div><a class="outEdit" th:text="${el.getTransportation.departure_date}"/></div>
    <div><a class="outEdit" th:text="${el.getTransportation.state}"/></div>
</div>
</body>
</html>
